<header>
    <h1>{{title}}</h1>
    <a class="hover-underline-animation" href="/">Weather</a>
    <a class="hover-underline-animation" href="/help">Help</a>
    <a class="hover-underline-animation" href="/about">About</a>
</header>

